{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% blocktrans %}Question{% endblocktrans %}
{% endblock %}

{% block content %}
    {% blocktrans %}
        The Campus Fest gathers all faculties of the University of Kassel together to share
        their current projects and make students participate in them.<br>
        The program consists not only of presentations but also music, food, and different department stands,
        where one can check the projects carried out by researchers and students.<br>
        It is also a good opportunity to discover the installations a bit more in detail as they offer tours.
    {% endblocktrans %}

    {% formfields %}
    {% next_button %}

{% endblock %}
