{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% blocktrans %}
        Hot Wire Game
    {% endblocktrans %}
{% endblock %}

{% block content %}
    {% blocktrans %}
        Now you can play the hot wire game and earn some money.<br>
        You must guide the metal wand along the wire circuit without touching it until the end.<br>
        If you complete it, you will receive 5€; otherwise, you will receive nothing.<br>
        You have two chances to do it.<br>
        If you earn the 5€, you can donate part, all, or none of your earnings to Amnesty International.<br>
        Amnesty International fights for children's rights, documenting, informing, and supporting them.<br>

        How much would you like to donate?
    {% endblocktrans %}

    {% formfields %}

    {% next_button %}

{% endblock %}
