{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% blocktrans %}
        Hot Wire Game
    {% endblocktrans %}
{% endblock %}

{% block content %}
    {% blocktrans %}
        Now you can play the hot wire game and earn some money.<br>
        You must guide the metal wand along the wire circuit without touching it until the end.<br>
        If you complete it, you will receive 5€; otherwise, you will receive nothing.<br>
        You have two chances to do it.
    {% endblocktrans %}

    {% formfields %}

    {% next_button %}

{% endblock %}
