{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
{% endblock %}

{% block content %}
{% blocktrans %}
    If you earned the 5€, you can donate part, all, or none of your earnings to Amnesty International.<br>
    Amnesty International fights for children's rights, documenting, informing, and supporting them.<br>
    How much would you like to donate?<br>
    If you have not earned anything, just state the amount you would have liked to donate:
{% endblocktrans %}
    {% formfields %}
    {% next_button %}

{% endblock %}
